{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/mui.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<script src="{% static 'js/mui.min.js' %}"></script>
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>
  </head>
  <body class="hide-sidedrawer">
    <div id="sidedrawer" class="mui--no-user-select">
      <div>
        <h2 id="sidedrawer-brand"class="mui--appbar-line-height mui--text-title"><a href="/">Awesome</a></h2>
      </div>
      <div class="mui-divider"></div>
      <ul>
        <li>
          <strong><a class="no-deciration" href="{% url 'thread_list' %}">Recommand List</a></strong>
        </li>
        <li>
          <strong>Explore</strong>
        </li>
        <li>
          <strong>Category</strong>
          <ul>
            <li><a href="{% url 'app_list' %}">Application List</a></li>
            <li><a href="{% url 'tag_list' %}#">Tag List</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <header id="header">
      <div class="mui-appbar mui--appbar-line-height">
        <div class="mui-container">
          
          <ul class="appbar-nav">
              <li class="mui--text-title mui--text-light"><a class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer">☰</a></li>
              <li class="mui--text-title mui--text-light"><a class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-hide-sidedrawer">☰</a></li>
              {% for navitem in page %}
              <li class="nav-title mui--text-title"><a class="nav-title-link" href="{{ navitem.url }}">{{ navitem.title }}</a></li>
              {% endfor %}
          </ul>
        </div>
      </div>
    </header>
	<div id="content-wrapper">
		{% block content %}
		{% endblock %}
	</div>
    <footer id="footer">
      <div class="mui-container">
        <br>
        &copy; 2016 BLumia | UI based on <a class="no-deciration" href="https://www.muicss.com">MUI</a>
      </div>
    </footer>
  </body>
</html>
