{% extends 'awesome/base.html' %}

{% block title %}
	Application List
{% endblock %}

{% block content %}
	<div class="content-header">
		<div class="mui-container">
			<h1 class="content-header-title">#{{ tag }}</h1>
		</div>
	</div>
	<div class="mui-container">

		<div class="mui-panel">
			<p>{{ tag.desc|linebreaks|truncatechars:"100" }}</p>
		</div>

		{% for app in apps %}
			<div class="mui-panel">
				<div class="mui--text-dark-hint">
					Tags: 
					{% for tag in app.tags.all %}
						<a href="{% url 'tag_id' pk=tag.pk %}"> #{{ tag }} </a>
						{% if not forloop.last %},{% endif %}
					{% endfor %}
				</div>
				<h1><a class="no-decoration" href="{% url 'app_detail' pk=app.pk %}">{{ app.name }}</a></h1>
				{{ app.desc|linebreaks|truncatechars:"100" }}
			</div>
		{% endfor %}
	</div>
{% endblock content %}
