apt-xapian-index==0.47
BeautifulSoup==3.2.1
beautifulsoup4==4.4.1
ccsm==0.9.7.99
chardet==2.3.0
Cheetah==2.4.4
colorama==0.3.7
compizconfig-python==0.9.7.99
cryptography==1.3.1
cycler==0.10.0
distlib==0.2.2
Django==1.9.6
enum34==1.1.2
fireplace==0.1
Flask==0.10.1
gyp==0.1
-e git+https://github.com/HearthSim/python-hearthstone.git@a4ef1ec6745bf2ae7375c4f2ea47974d384b5446#egg=hearthstone
html5lib==0.999
httplib2==0.9.1
idna==2.1
ipaddress==1.0.16
itsdangerous==0.24
Jinja2==2.8
lxml==3.6.0
Markdown==2.6.6
MarkupSafe==0.23
matplotlib==1.5.1
ndg-httpsclient==0.4.0
numpy==1.11.0
pbr==1.5.0
Pillow==3.2.0
Pivy==0.5.0
ply==3.7
py==1.4.30
pyasn1==0.1.9
pycollada==0.4
pycurl==7.43.0
pygame===1.9.1release
Pygments==2.1
pygobject==3.20.0
pyOpenSSL==16.0.0
pyparsing==2.0.3
Pyrex==0.9.8.5
pytest==2.8.2
python-apt==1.1.0b2
python-dateutil==2.4.2
python-debian==0.1.27
python-debianbts==2.6.0
pytz==2015.7
pyxdg==0.25
PyYAML==3.11
reportbug==6.6.6
requests==2.9.1
six==1.9.0
spectacle==0.25
stevedore==1.7.0
urlgrabber==3.9.1
urllib3==1.13.1
vboxapi==1.0
virtualenv==13.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.6.0
Werkzeug==0.10.4
