/**
 * Body CSS
 */

html,
body {
  height: 100%;
  background-color: #eee;
}

html,
body,
input,
textarea,
buttons {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Layout CSS
 */

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition: left 0.2s;
}

#sidedrawer {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  left: -200px;
  overflow: auto;
  z-index: 2;
  background-color: #fff;
  transition: transform 0.2s;
}

#content-wrapper {
  min-height: 100%;
  overflow-x: hidden;
  margin-left: 0px;
  transition: margin-left 0.2s;
  
  /* sticky bottom */
  margin-bottom: -80px;
  padding-bottom: 80px;
}

#footer {
  height: 80px;
  margin-left: 0px;
  transition: margin-left 0.2s;
}

@media (min-width: 768px) {
  #header {
    left: 200px;
  }
  
  #sidedrawer {
    transform: translate(200px);
  }
  
  #content-wrapper {
    margin-left: 200px;
  }
  
  #footer {
    margin-left: 200px;
  }
  
  body.hide-sidedrawer #header {
    left: 0;
  }
  
  body.hide-sidedrawer #sidedrawer {
    transform: translate(0px);
  }
  
  body.hide-sidedrawer #content-wrapper {
    margin-left: 0;
  }
  
  body.hide-sidedrawer #footer {
    margin-left: 0;
  }

}

@media (max-width: 768px) {
  .mobile-hidden {
    display: none;
  }

}


/**
 * Toggle Sidedrawer
 */
#sidedrawer.active {
  transform: translate(200px);
}


/**
 * Header CSS
 */

.sidedrawer-toggle {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  margin-right: 10px;
}

.sidedrawer-toggle:hover {
  color: #fff;
  text-decoration: none;
}


/**
 * Sidedrawer CSS
 */

#sidedrawer-brand {
  padding-left: 20px;
  padding-bottom: 5px;
}

#sidedrawer ul {
  list-style: none;
}

#sidedrawer > ul {
  padding-left: 0px;
}

#sidedrawer > ul > li:first-child {
  padding-top: 15px;
}

#sidedrawer strong {
  display: block;
  padding: 15px 22px;
  cursor: pointer;
}

#sidedrawer strong:hover {
  background-color: #E0E0E0;
}

#sidedrawer strong + ul > li {
  padding: 6px 0px;
}


/**
 * Footer CSS
 */

#footer {
  background-color: #3f51b5;
  color: #fff;
}

#footer a {
  color: #fff;
  text-decoration: underline;
}

/**
 * Container Fix, Card Fix, Appbar Fix
 */
 
.mui-container {
    max-width: 960px;
}

.mui-panel {
	padding: 20px 56px;
  border-radius: 0.1em;
}

.mui-appbar .mui--text-title, #sidedrawer-brand > a {
	text-decoration: none;
}

.mui-appbar .mui--text-title:hover {
	color: wheat;
}

.no-decoration {
	text-decoration: none !important;
}

.content-header {
	background-image: url(/static/img/brand.jpg);
	background-color: #3f51b5;
	color: #fff;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: -48px;
	padding-top: 68px;
	padding-bottom: 48px;
}
.content-header-title {
	margin-top: 48px;
	margin-bottom: 30px;
	font-weight: 300;
}
.header-color {
	transition: background-color .5s!important;
	background-color: #3f51b5;
}
.header-nocolor {
	transition: background-color .5s!important;
	background-color: transparent;
}
.mui-appbar{
	background-color: transparent;
}

.mui-panel h1 {
	margin-top: 10px;
}

ol, ul {
	margin-bottom: 0;
	line-height: 1.2;
}

/*
  Appbar Navigation Title Css
*/

ul.appbar-nav {
	padding: 16px 0px;
}

.appbar-nav>li {
	margin-left: 0px;
  position: relative;
  display: block;
	float: left;
	list-style: none;
}

.appbar-nav {
	margin: 0;
	height: 64px;
}

.appbar-nav>.nav-title+.nav-title:before {
	content: "ï¹¥";
	padding: 0 5px;
}

.nav-title-right {
	float: right !important;
	padding-left: 10px;
}

.nav-title-link {
	color: #FFF;
	text-decoration: none !important;
}

.nav-title-link:hover {
	color: #DDD;
	text-decoration: none !important;
}

/*
	Tile and avatar
*/

.tile-wrap {
    margin-top: 24px;
    margin-bottom: 24px;
}

.tile {
    background-color: #fff;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.tile, .tile-action, .tile-footer {
    min-height: 48px;
}

.tile-side.pull-left {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    margin-left: 16px;
}

.pull-right {
    float: right;
}

.margin-no {
    margin: 0 !important;
}

.tile-side {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.tile-inner {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 14px 16px;
}

.avatar-sm {
    height: 32px;
    line-height: 32px;
    width: 32px;
}

.avatar {
    background-color: rgba(154,154,154,.18);
    border-radius: 50%;
    color: inherit;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}

.preview-img {
    background-color: rgba(154,154,154,.18);
    border-radius: .3em;
    color: inherit;
    display: block;
    line-height: 40px;
    text-align: center;
    width: 279px;
    height: 130px;
}

.avatar-green, .avatar-green:focus, .avatar-green:hover, .avatar-orange, .avatar-orange:focus, .avatar-orange:hover {
    color: rgba(0,0,0,.87);
}

.avatar-brand, .avatar-brand-accent:focus, .avatar-brand-accent:hover, .avatar-brand:focus, .avatar-brand:hover {
    color: #fff;
}

.avatar-brand {
    background-color: #3f51b5;
}

.avatar-brand-accent {
    background-color: #ff4081;
    color: #fff;
}

.avatar-green {
    background-color: #4caf50;
}

.avatar-orange {
    background-color: #ff9800;
}

/*
  text css under mui-panel class
*/
.mui-panel h1,.mui-panel h2,.mui-panel h3 {
  color: #3f51b5;
}

.mui-panel h1 {
  border-bottom: solid #3f51b5 3px;
  padding-bottom: 4px;
}

.mui-panel h2 {
  padding-left: 10px;
  border-left: solid #3f51b5 3px;
}

form select[multiple] {
    width: 100%;
}