/**
 * Body CSS
 */

html,
body {
  height: 100%;
  background-color: #eee;
}

html,
body,
input,
textarea,
buttons {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Layout CSS
 */

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition: left 0.2s;
}

#sidedrawer {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  left: -200px;
  overflow: auto;
  z-index: 2;
  background-color: #fff;
  transition: transform 0.2s;
}

#content-wrapper {
  min-height: 100%;
  overflow-x: hidden;
  margin-left: 0px;
  transition: margin-left 0.2s;
  
  /* sticky bottom */
  margin-bottom: -80px;
  padding-bottom: 80px;
}

#footer {
  height: 80px;
  margin-left: 0px;
  transition: margin-left 0.2s;
}

@media (min-width: 768px) {
  #header {
    left: 200px;
  }
  
  #sidedrawer {
    transform: translate(200px);
  }
  
  #content-wrapper {
    margin-left: 200px;
  }
  
  #footer {
    margin-left: 200px;
  }
  
  body.hide-sidedrawer #header {
    left: 0;
  }
  
  body.hide-sidedrawer #sidedrawer {
    transform: translate(0px);
  }
  
  body.hide-sidedrawer #content-wrapper {
    margin-left: 0;
  }
  
  body.hide-sidedrawer #footer {
    margin-left: 0;
  }
}


/**
 * Toggle Sidedrawer
 */
#sidedrawer.active {
  transform: translate(200px);
}


/**
 * Header CSS
 */

.sidedrawer-toggle {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  margin-right: 10px;
}

.sidedrawer-toggle:hover {
  color: #fff;
  text-decoration: none;
}


/**
 * Sidedrawer CSS
 */

#sidedrawer-brand {
  padding-left: 20px;
  padding-bottom: 5px;
}

#sidedrawer ul {
  list-style: none;
}

#sidedrawer > ul {
  padding-left: 0px;
}

#sidedrawer > ul > li:first-child {
  padding-top: 15px;
}

#sidedrawer strong {
  display: block;
  padding: 15px 22px;
  cursor: pointer;
}

#sidedrawer strong:hover {
  background-color: #E0E0E0;
}

#sidedrawer strong + ul > li {
  padding: 6px 0px;
}


/**
 * Footer CSS
 */

#footer {
  background-color: #3f51b5;
  color: #fff;
}

#footer a {
  color: #fff;
  text-decoration: underline;
}

/**
 * Container Fix, Card Fix, Appbar Fix
 */
 
.mui-container {
    max-width: 960px;
}

.mui-panel {
	padding: 20px 56px;
}

.mui-appbar .mui--text-title, #sidedrawer-brand > a {
	text-decoration: none;
}

.mui-appbar .mui--text-title:hover {
	color: wheat;
}

.no-deciration {
	text-decoration: none !important;
}

.content-header {
	background-image: url(/static/img/brand.jpg);
	background-color: #3f51b5;
	color: #fff;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: -48px;
	padding-top: 68px;
	padding-bottom: 48px;
}
.content-header-title {
	margin-top: 48px;
	margin-bottom: 30px;
	font-weight: 300;
}
.header-color {
	transition: background-color 1s!important;
	background-color: #3f51b5;
}
.header-nocolor {
	transition: background-color 1s!important;
	background-color: transparent;
}
.mui-appbar{
	background-color: transparent;
}

.mui-panel h1 {
	margin-top: 10px;
}

ol, ul {
	margin-bottom: 0;
	line-height: 1.2;
}

ul.appbar-nav {
	padding: 16px 0px;
}

.appbar-nav>li {
	margin-left: 0px;
  position: relative;
  display: block;
	float: left;
	list-style: none;
}

/*
  Appbar Navigiation Title Css
*/

.appbar-nav {
	margin: 0;
	height: 64px;
}

.appbar-nav>.nav-title+.nav-title:before {
	content: "﹥";
	padding: 0 5px;
}

.nav-title-right {
	float: right !important;
	padding-left: 10px;
}

.nav-title-link {
	color: #FFF;
	text-decoration: none !important;
}

.nav-title-link:hover {
	color: #DDD;
	text-decoration: none !important;
}